.event-wrapper {
  padding: 20px;
}

.event-card {
  margin-bottom: 20px;
  position: static;
}

.event-card img {
  position: static;
}

.loader_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter_data {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  // display: grid;
  // grid-template-columns: repeat(3, 85px);
  // grid-template-rows: repeat(2, 1fr);
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(170, 25, 59, 0.1);
}

.row {
  display: flex;
}

.row-top {
  flex: 1;
}

.row-bottom {
  flex: 0 0 auto;
}

.row-top .col {
  flex: 1;
}

.event-wrapper h5 {
  text-align: center;
}

.filter_data div {
  text-align: center;
}

.range_data {
  z-index: -1;
}

.filter_data p {
  margin: 10px;
  border-bottom: 1px dashed rgba(47, 50, 53, 0.25);
}

.is-chosen p {
  border-bottom: 1px dashed rgba(170, 25, 59, 1);
  color: rgba(170, 25, 59, 1);
}

.mdc-card__actions {
  padding: 16px;
}

.mat-mdc-card-content {
  margin-top: 16px;
}

.price_wrapper {
  margin-top: 10px;
}

.price {
  font-weight: bold;
  margin-left: 10px;
}

.button_more {
  background: red;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
// .example-header-image {
//   background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }
